{% extends 'base.html.twig' %}

{% block title %}Edit Villager{% endblock %}

{% block body %}
    <h1>Edit Villager</h1>

    {{ include('villager/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_villager_index') }}">back to list</a>

    {{ include('villager/_delete_form.html.twig') }}
{% endblock %}
