{% extends 'base.html.twig' %}

{% block title %}The ugly directory - Villagers{% endblock %}

{% block body %}
<div class="archive text-center py-12 px-20">
    <h1 class="font-heading-1 mb-14">All the uglies</h1>
    <div class="grid grid-cols-3 gap-[45px]">
        {% for villager in villagers %}
            <a href="{{ path('app_villager_show', {'id': villager.id }) }}">
                <div class="bg-light-green text-white text-center px-4 pt-8 pb-6" style="border-radius: 65px;">
                    <img src="{{ asset('/images/' ~ villager.imageUrl) }}" alt="Picture of the villager" style="height: 240px; margin: auto;" />
                    <p class="mt-4" style="font-size: 24px;">{{ villager.name }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
    <a href="{{ path('app_villager_new') }}" class="cta mt-8 inline-block">Add a new one</a>
</div>
{% endblock %}
