{% extends 'base.html.twig' %}

{% block title %}ACNH Villagers - New Villager{% endblock %}

{% block body %}
    <a href="{{ path("app_villager_index") }}" class="text-dark-green px-8 py-2 ml-16 mt-10 flex items-center bg-light-green inline-flex" style="font-size: 18px; border-radius: 65px;">
        <svg style="margin-bottom: 0.1rem;" class="mr-4" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.70711 0.292893C6.09763 0.683417 6.09763 1.31658 5.70711 1.70711L2.41421 5L5.70711 8.29289C6.09763 8.68342 6.09763 9.31658 5.70711 9.70711C5.31658 10.0976 4.68342 10.0976 4.29289 9.70711L0.292893 5.70711C-0.097632 5.31658 -0.0976315 4.68342 0.292893 4.29289L4.29289 0.292893C4.68342 -0.0976306 5.31658 -0.0976306 5.70711 0.292893Z" fill="#31947F"/>
        </svg>
        <p>Back to all villagers</p>
    </a>

    <h1 class="font-heading-1 text-center mt-10 mb-16">Create new Villager</h1>

    <div class="bg-light-green px-24 py-10 mx-40 mb-32" style="border-radius: 65px;">
        {{ include('villager/_form.html.twig') }}
    </div>
{% endblock %}
