:root {
    --color-green: #82C494;
    --color-light-green: #A9CF9E;
    --color-dark-green: #31947F;
    --color-brown: #624C37;
    --color-black: #494949;
    --color-gray: #A6A6A6;
    --color-white: #FFFFF3;
}