form label {
    @apply text-white;
    font-size: 24px;
    margin-bottom: 0.3rem;
    display: block;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    @apply bg-brown rounded-full text-white py-[16px] px-[16px] w-full;
    outline: none;
    margin-bottom: 1rem;
}

form button[type="submit"], #villager_edit_button {
    @apply bg-brown rounded-full text-white py-[12px] px-[32px] m-auto mt-6;
    font-size: 20px;
    display: block;
}

label[for=registration_form_agreeTerms] {
    display: inline;
    margin-right: 1rem;
}

.admin_only a, .admin_only button {
    @apply bg-brown rounded-full text-white py-[10px] px-[28px];
    font-size: 16px;
    display: block;
}

.admin_only button {
    margin-left: 1rem;
}

select#villager_personnality {
    @apply bg-brown rounded-full text-white py-[16px] pl-[16px] pr-2;
    border-right: 16px solid transparent;
}

.input-file-container>label {
    @apply cursor-copy bg-brown rounded-full text-white py-[13px] px-[18px] mt-6 text-18 w-fit;
}